*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}


#button1{
	height: 65px;
	width: 260px;
	border: 0;
	margin-left: 20px;
	border-radius: 17px;
	background-color: #72005F;
	color: white;
	font-size: 25px;
	font-weight: 700;
	outline-style: none;
	cursor: pointer;
}



.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 800px;
	height: 100vh;
}

.goat{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
}

.goat img {
	animation-name: levitate;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
}
.text{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 38px;
}

.logo{
	width: 120px;
	margin-left: 50px;
	margin-top: 30px;
	justify-content: left;
	display: flex;
}

.advicebg{
	background-color: #ebe4e0;
	width: 900px;
	display: flex;
	justify-content: space-between;
	justify-items: center;
	margin-left: 350px;
	margin-top: 50px;
	align-items: center;

}

#links{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: white;
}

.advicetext{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 70px;
	align-content: stretch;
	font-family: 'Roboto', sans-serif;
	flex-direction: column;
	width: 400px;
}

#advice {
	font-weight: 600;
	font-size: 50px;
	color: #72005F;
	order: 1;
}

#signature {
	font-size: 22px;
	color: #BAA193;
	display: flex;
	align-items: flex-end;
	order: 2;
	align-self: flex-end;
	justify-content: flex-end;
	padding: 10px;
	margin-right: 20px;
}

.returnbutton{
	display: flex;
	align-items: flex-start;
	justify-content: right;
	width: 100px;
}